@import url('custom-scrollbar.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: #f7f8fa;
}